# Ansible configuration for Kusala Studio Community Cloud
# AGPLv3 - https://www.gnu.org/licenses/agpl-3.0.html

[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
stdout_callback = yaml
host_key_checking = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[privilege_escalation]
become = true
become_method = sudo
